.logo {
  color: $accent-color;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  font-family: $secondary-font;
}
.header__logo {
  color: $primary-black;
}
.footer__logo {
  color: $primary-white;
}
